.background {
    background-image: linear-gradient(to bottom, #2a5fff 20%, #ffffff 80%);
    height: 100vh;
}

.outer-container {
    /*display: flex;*/
    /*justify-content: center;*/


}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2a5fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    max-width: 400px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px; /* Voegt ruimte tussen de elementen toe */
}

.input-container {
    margin-bottom: 20px;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.form-button {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonR {
    margin: 0;
    padding: 10px 20px;
}

.button:disabled {
    background-color: #aaa;
}



