.outer-container {
    display: flex;
    padding: 15px 20px 10px 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.saved-cities-container{
    display: flex;
    flex-direction: column;
    flex-basis: 48%; /* Neemt ongeveer de helft van de beschikbare ruimte in */
    min-width: 300px;
    max-width: 600px;
}

.preferences-inner-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.saved-cities-container,
.preferences-container {
    flex-basis: 48%;
    min-width: 320px;
    max-width: 100px;
    padding: 5px;
    background: #2a5fff;
    border-radius: 5px;
    margin: 8px;
}
/*dit hier boven moet blijven staan*/

.save-button:hover {
    background-color: #45a049;
}

.save-button:disabled {
    background-color: #aaa;
}


main {
    flex: 1;
}

@media (max-width: 768px) {
    .preferences-inner-container {
        flex-direction: column;
        align-items: center;
    }
    .saved-cities-container,
    .preferences-container {
        flex-basis: 100%; /* Zet containers onder elkaar op kleinere schermen */
    }
}