.weather-card {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 10px;
    margin: 0 0 10px 0;
    justify-content: space-between;
    background: rgba(228, 223, 218, 0.6);
    box-shadow: 0px 4px 10px -2px #000000;
}

.weather-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.weather-flex {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}