.icon-wrapper {
    width: 25px;
}
.background {
    /*background-image: */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: auto;
}

.outer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px 20px 10px 20px;
    flex-wrap: wrap;
}

.saved-cities-list-container, .saved-cities-loggedout-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
    min-width: 290px;
}

.saved-cities-loggedout-message, .weather-error {
    height: 100%;
    border-radius: 5px;
    background: #2a5fff;
    margin: 0 0 10px 0;
    padding: 5px;
}

.image-and-search-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50%;
    justify-content: space-between;
    min-width: 290px;
}

.image-container {
    display: flex;
    max-height: 50%;
    justify-content: center;
    margin: 0 0 10px 0;
}

.weather-search-container {
    display: flex;
    flex-direction: column;
    height: 50%;
border-radius: 5px;
    background: #ffffff;

    margin: 0 0 10px 0;
    padding: 5px;
}

p {
    color: white;
}