.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;
    flex-basis: 100%;
}

.inner-container {
    display: flex;
    flex-basis: 100%;
    min-width: 300px;
    max-width: 1200px;
    border-radius: 5px;
    margin: 0 auto;
}

.saved-cities-list-container{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex-basis: 48%;
    min-width: 320px;
    color: white;
    border-radius: 5px;
}


.submit-button{
    display: flex;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    justify-content: center;
}
.tomorrow-button{
    color: #2a5fff;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
}
.underline-top {
    position: relative;
}

.underline-top::before {
    content: "";
    position: absolute;
    top: 1px; /* Lijn boven de tekst */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2a5fff;
}

.underline-bottom {
    position: relative;
}

.underline-bottom::after {
    content: "";
    position: absolute;
    bottom: 1px; /* Lijn onder de tekst */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2a5fff;
}

.saved-cities-list-container, .saved-cities-logout-container {
    flex-basis: 48%;
    background: #2a5fff;
    margin: 0 15px 0 0;
    border-radius: 5px;
}

.image-and-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.image-container {
    flex-basis: auto; /* Laat de afbeelding zich aanpassen */
    max-width: 600px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.weather-search-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-width: 300px;
    align-items: flex-start;
}

.search-city {
    display: flex;
    max-width: 500px;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 20px;
    flex-basis: 100%;
}

.weather-data{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-width: 300px;
}
.sort-info{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-width: 300px;
    color: #2a5fff;
}

.info-weather{
    display: flex;
    flex-basis: 100%;
    min-width: 300px;
    color: black;
}
.info-weather p{
    display: flex;
    justify-content: space-between;
    padding: 9px;
    margin: 5px 0;
    flex-basis: auto;
}

.icon-wrapper-search{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

.icon-wrapper-search .info-weather{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.info-weather p{
    color: #2a5fff;
    margin: 5px 0;
}
@media (max-width: 768px) {
    .outer-container {
        flex-direction: column;
    }
    .image-container {
        max-height: 50vh;
    }
    .inner-container  {
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }
}