.outer-container {
    background: whitesmoke;
}


.links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.links li {
    margin: 0 0 50px 20px;
}

/*.link {*/
/*    background-color: deepskyblue;*/
/*    border-radius: 8px;*/
/*    padding: 5px;*/
/*    text-decoration: none;*/
/*}*/