.nav-bar {
    background-color: transparent;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.nav-links {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1000px; /* Optional: restrict maximum width */
    color: #ffffff;
}

.nav-links li {
    margin: 0 124px; /* Adjust spacing between items */
    color: #ffffff;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff; /* Optional: link color */
    display: block;
    padding: 20px; /* Optional: add padding for better click area */
}

.nav-links li a:hover {
    text-decoration: underline; /* Optional: underline on hover */
    color: #ffffff
}
.links {
    color: #ffffff
}