.nav-bar {
    background-color: transparent;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    flex: 1 1 auto;
    min-width: 320px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1 1 600px;
    max-width: 1000px;
    color: #ffffff;
}

.nav-links li {
    flex: 1 1 auto;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;

}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 20px;
    flex: 1 1 150px;
    text-align: center;
}

.nav-links li a:hover {
    text-decoration: underline;
    color: #ffffff
}
.links {
    color: #ffffff
}