.city-card {
    background: white;
color: black;
    margin: 20px 0 0 0;
    padding: 2px;
}

.button {
    padding: 2px;
    color: #2a5fff;
}

.city-input {
    padding: 2px;

}
.stadnaam{
    color: black;
}
