.searchbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /*border: solid 2px darkred;*/
}

.searchbar-entry {
    display: flex;
    width: 100%;
    background-color: #d3d3d3;
    padding: 0 0 0 3px;
    border-radius: 0 0 0 5px;
}

.searchbar-button {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 2px;
    background-color: #2a5fff;
   border-radius: 0 0 5px 0;
}