.button-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.preferences-button {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: auto
}
.preference-input{
    display: flex;
    flex-Direction: column;
    align-Items: center;
    margin-bottom: 9px;
    /*border: black solid 4px;*/
}