@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: "Jockey One", sans-serif;
    display: flex;
    flex-direction: column;
    /*border: 1px solid orangered;*/

}

p {
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
    color: #ffffff;
    margin: 7px;
}

input {
    font-size: 16px;
}


.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    width: 100%;
    margin: 32px;
}

button {

    text-align: center;
    margin-left: 300px;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

}

button:hover {
    cursor: pointer;
}

button:disabled {
   color: red;
}

a,
a:visited,
a:active {
    color: #0d3b66;
}

a:hover {
    color: #ea7e1f;
}

/*Algemene formulier-styling*/
form {
    display: flex;
    flex-direction: column;
justify-content: center;
    margin: 0 auto;
    background-color: #2a5fff;
    padding: 14px;
    max-width: 300px;
    color: white;
    /*border: 10px dashed yellow;*/
}

form label {
    margin: 4px 0;
    font-weight: bold;
}

form input {
    flex: 1

}


.content {
    margin: 32px;
}

.form-button {
    flex: 0 0 auto;
}

nav {
    /*background-color: orangered;*/
    /*color: white;*/
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
    /*border: 1px dashed green;*/
}

nav a,
nav a:visited,
nav a:active {
    color: #ffffff;
}


.error {
    color: rgba(234, 126, 31, 0.8);
}


.loading-icon {
    flex: 0 0 16px;
    animation: rotating 1.5s linear infinite;

}
fieldset{
    border: none;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}