.weather-overview {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px;
    margin: 0 0 20px 0;
    justify-content: space-between;
    min-width: 250px;
    max-width: 800px;
}

.weather-description-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 100%;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 200px;
}

.weather-flex {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    min-width: 150px;
    max-width: 400px;
    justify-content: space-between;
}
.flex{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 3px;
    margin:  4px;
}
